form  { display: table; align-items: center; border: 1px solid; margin: auto; padding: 1%;      }
p     { display: table-row;  }
label { display: table-cell; font-size: larger; font-family: Arial, Helvetica, sans-serif;  padding: 1%;}
input { display: table-cell; padding: 1%; }